[package]
name = "rust_extension"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.27.1", features = ["extension-module"] }
numpy = "0.27.0"
ndarray = "0.17.1"